html {
    background-color: white;
}

body {

    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-size: larger;
}

.form-container h1 {
    align-items: center;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.form-container p {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.form-container {
    width: 500px;
    background-color: rgb(144, 251, 255);
    border-radius: 30px;
    padding: 40px;
    border: 10px rgb(0, 213, 255) solid;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form+p,
form p {
    text-align: center;
}

input,
button {
    border-radius: 10px;
    border: unset;
    padding: 15px 30px;
    font-size: 17px;
    transition: box-shadow 0.3s ease;
}

input:hover,
button:hover {
    box-shadow: 0 0 1rem #ffffff;
    transition: box-shadow 0.3s ease;
}

button {
    background-color: rgb(0, 225, 255);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(0, 210, 255);
    box-shadow: 0 0 1rem #ffffff;
    transition: background-color 0.3s ease;
}

.cerrar-sesion-container {
    width: 500px;
    background-color: rgb(144, 251, 255);
    border-radius: 30px;
    padding: 40px;
    border: 10px rgb(0, 213, 255) solid;
}

.cerrar-sesion-container h1 {
    align-items: center;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.cerrar-sesion-container a {
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}


.cerrar {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(0, 225, 255);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cerrar:hover {
    background-color: rgb(0, 210, 255);
    box-shadow: 0 0 1rem #ffffff;
    transition: background-color 0.3s ease;
}

h2 {
    align-items: center;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.error {

    color: rgb(255, 0, 0);
}

.escondido {
    display: none;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}